<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>Levi R - Resume Portfolio</title>

	<!-- CSS -->
	<!-- Bootstrap core CSS -->
	<link href="/css/bootstrap.min.css" rel="stylesheet" media="screen">

	<!-- Owl Carousel -->
	<link href="/css/owl.theme.css" rel="stylesheet">
	<link href="/css/owl.carousel.css" rel="stylesheet">

	<!-- Magnific-popup lightbox -->
	<link href="/css/magnific-popup.css" rel="stylesheet">

	<!-- Simple text rotator -->
	<link href="/css/simpletextrotator.css" rel="stylesheet">

	<!-- Font Awesome CSS -->
	<link href="/css/font-awesome.min.css" rel="stylesheet" media="screen">

	<!-- Animate css -->
	<link href="/css/animate.css" rel="stylesheet">

	<!-- Custom styles CSS -->
	<link href="//cdnjs.cloudflare.com/ajax/libs/sweetalert/0.4.2/sweet-alert.min.css" rel="stylesheet">
	<link href="/css/style.css" rel="stylesheet" media="screen">


</head>
<body>

	<div class="wrapper">

		<!-- Preloader -->

		<div id="preloader">
			<div id="status">
				<div class="status-mes"><h4>Levi Ross</h4></div>
			</div>
		</div>

		<!-- Navigation start -->

		<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
			<div class="container">

				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#intro">Levi Ross</a>
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav navbar-right">
						<li><a href="#intro">home</a></li>
						<li><a href="#profile">Profile</a></li>
						<!-- <li><a href="#services">Services</a></li> -->
						<li><a href="#resume">Resume</a></li>
						<li><a href="#portfolio">Portfolio</a></li>
						<li><a href="#contact">Contact</a></li>
					</ul>
				</div>

			</div>
		</nav>

		<!-- Navigation end -->

		<!-- Intro section start -->

		<section id="intro" class="section">

			<div class="container">

				<div class="row">

					<div class="col-md-12">

						<div class="hello wow bounceInDown">
							<h1>Hello, I'm Levi Ross</h1>
							<h3><span class="rotate">Web Developer. | Musician. | Sales Exec.</span></h3>
						</div>

						<a href="#profile">
							<div class="mouse-icon">
								<div class="wheel"></div>
							</div>
						</a>

					</div>

				</div><!-- .row -->

			</div><!-- .container -->

		</section>

		<!-- Intro section end -->

		<!-- Profile contact callout section -->

		<section id="profile-contact">

			<div class="container">

				<div class="row">

					<div class="col-sm-4 wow bounceInLeft">
						<div class="profile-item">
							<i class="fa fa-envelope-o"></i>
							<h5><a href="#contact">Click this to send me an email.</a></h5>
						</div>
					</div>

					<div class="col-sm-4 wow bounceInUp">
						<div class="profile-item">
							<i class="fa fa-phone"></i>
							<h5>(206) 276-7274</h5>
						</div>
					</div>

					<div class="col-sm-4 wow bounceInRight">
						<div class="profile-item">
							<i class="fa fa-map-marker"></i>
							<h5>Living in Seattle, WA</h5>
						</div>
					</div>

				</div><!-- .row -->

			</div><!-- .container -->

		</section>

		<!-- Profile contact callout section -->

		<!-- Profile section start -->

		<section id="profile" class="section">

			<div class="container">

				<div class="row">

					<div class="col-md-12 headline wow bounceInDown">
						<h2>Levi Ross</h2>
						<p>Web Developer. Musician. Former Sales Exec.</p>
					</div>

					<div class="col-md-3 col-sm-6 hidden-xs wow bounceInLeft">
						<img class="avatar" src="/images/levi_cool.jpg" alt="">
					</div>

					<div class="col-md-3 col-sm-6 wow bounceInUp">

						<div class="profile-widget">
							<h3>Skillset</h3>

							<h5>HTML5 / CSS3</h5>
							<div class="skill-bar">
								<div class="skill-rate-on"></div>
								<div class="skill-rate-on"></div>
								<div class="skill-rate-on"></div>
								<div class="skill-rate-off"></div>
							</div>

							<h5>JavaScript</h5>
							<div class="skill-bar">
								<div class="skill-rate-on"></div>
								<div class="skill-rate-on"></div>
								<div class="skill-rate-on"></div>
								<div class="skill-rate-on"></div>
							</div>

							<h5>Ruby on Rails</h5>
							<div class="skill-bar">
								<div class="skill-rate-on"></div>
								<div class="skill-rate-on"></div>
								<div class="skill-rate-on"></div>
								<div class="skill-rate-off"></div>
							</div>

							<h5>Node.js</h5>
							<div class="skill-bar">
								<div class="skill-rate-on"></div>
								<div class="skill-rate-on"></div>
								<div class="skill-rate-off"></div>
								<div class="skill-rate-off"></div>
							</div>
						</div>

						<div class="profile-widget">
							<h3>Social Profiles</h3>
							<ul class="widget-social">
								<li><a href="https://www.facebook.com/Levi.Ross2" target="_blank"><i class="fa fa-facebook fa-fw"></i></a></li>
								<li><a href="https://github.com/leviross" target="_blank"><i class="fa fa-github-alt"></i></a></li>
								<li><a href="https://plus.google.com/108024099439276655086/posts/p/pub" target="_blank"><i class="fa fa-google-plus"></i></a></li>
							</ul>
						</div>

					</div><!-- .col-md-3 -->

					<div class="col-md-6 col-sm-12 wow bounceInRight">
						<h3>Professional Profile</h3>
						<p>I am blessed to have been given the opportunity to learn in-depth web development, it's a career change that I have always wanted. One can feel the excitement as the tech community in Seattle is growing. I can't wait to be able to build real-world apps that give back to society and help bring different people together.</p>
						<p>By day I love to code and work on projects, by night I like jam on my guitar.</p>
					</div>

				</div><!-- .row -->

			</div><!-- .container -->

<!-- 		</section>
 -->
		<!-- Profile section end -->

		<!-- Callout section start -->

		<!-- <section id="stats" class="callout">

			<div class="container">

				<div class="row">

					<div class="col-md-3 col-sm-12 hidden-xs wow bounceInLeft">
						<h3>My Stats</h3>
					</div>

					<div class="col-md-3 col-sm-4 wow bounceInDown">
						<div class="stat">
							<div class="stat-icon">
								<h2><i class="fa fa-coffee hidden-xs"></i><span class="timer" data-to="32"></span></h2>
							</div>
							<h3>Cup of coffee</h3>
						</div>
					</div>

					<div class="col-md-3 col-sm-4 wow bounceInUp">
						<div class="stat">
							<div class="stat-icon">
								<h2><i class="fa fa-code hidden-xs"></i><span class="timer" data-to="999"></span></h2>
							</div>
							<h3>Line of code</h3>
						</div>
					</div>

					<div class="col-md-3 col-sm-4 wow bounceInRight">
						<div class="stat">
							<div class="stat-icon">
								<h2><i class="fa fa-child hidden-xs"></i><span class="timer" data-to="300"></span>+</h2>
							</div>
							<h3>Happy customers</h3>
						</div>
					</div> -->

				<!-- </div> .row -->

			<!-- </div> .container -->

		<!-- </section> -->

		<!-- Callout section end -->

		<!-- Services section start -->

	<!-- 	<section id="services" class="section">

			<div class="container">

				<div class="row">

					<div class="col-md-12 headline wow bounceInDown">
						<h2>What i can do</h2>
						<p>My Services.</p>
					</div>

					<div class="col-md-12">

						<div class="row">

							<div class="col-sm-4 wow bounceInLeft">
								<div class="service">
									<div class="icon">
										<i class="fa fa-pencil"></i>
									</div>
									<h4>Text rotator</h4>
									<div class="text">
										<p>I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine. I am so happy, my dear friend.</p>
									</div>
								</div>
							</div>

							<div class="col-sm-4 wow bounceInUp">
								<div class="service">
									<div class="icon">
										<i class="fa fa-image"></i>
									</div>
									<h4>Slideshow</h4>
									<div class="text">
										<p>I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine. I am so happy, my dear friend.</p>
									</div>
								</div>
							</div>

							<div class="col-sm-4 wow bounceInRight">
								<div class="service">
									<div class="icon">
										<i class="fa fa-cog"></i>
									</div>
									<h4>Easy configure</h4>
									<div class="text">
										<p>I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine. I am so happy, my dear friend.</p>
									</div>
								</div>
							</div> -->

						<!--</div> .row -->
<!--
						<div class="row">

							<div class="col-sm-4 wow bounceInUp" data-wow-delay=".2s">
								<div class="service">
									<div class="icon">
										<i class="fa fa-code"></i>
									</div>
									<h4>Clear code</h4>
									<div class="text">
										<p>I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine. I am so happy, my dear friend.</p>
									</div>
								</div>
							</div>

							<div class="col-sm-4 wow bounceInUp" data-wow-delay=".4s">
								<div class="service">
									<div class="icon">
										<i class="fa fa-desktop"></i>
									</div>
									<h4>Responsive design</h4>
									<div class="text">
										<p>I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine. I am so happy, my dear friend.</p>
									</div>
								</div>
							</div>

							<div class="col-sm-4 wow bounceInUp" data-wow-delay=".6s">
								<div class="service">
									<div class="icon">
										<i class="fa fa-life-ring"></i>
									</div>
									<h4>Support</h4>
									<div class="text">
										<p>I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine. I am so happy, my dear friend.</p>
									</div>
								</div>
							</div> -->

						<!--</div> .row -->

					<!--</div> .col-md-12 -->

				<!--</div> .row -->

			<!--</div> .container -->

		<!-- </section> -->

		<!-- Services section end -->

		<!-- Callout section start -->

		<section class="callout">

			<div class="container">

				<div class="row">

					<div class="col-md-3 hidden-xs wow bounceInLeft">
						<h3>My status</h3>
					</div>

					<div class="col-md-9 headline nomargin wow bounceInDown">
						<h3>I'm currently available for full time work.</h3>
						<p>I moved back home to Seattle from New York to raise my family here.</p>
						<a href="#contact" class="btn btn-default btn-custom-2 callout-btn"><i class="fa fa-paper-plane-o icon-before"></i> Contact me</a>
					</div>

				</div><!-- .row -->

			</div><!-- .container -->

		</section>

		<!-- Callout section end -->

		<!-- Resume section start -->

		<section id="resume" class="section">

			<div class="container">

				<div class="row">

					<div class="col-md-12 headline wow bounceInDown">
						<h2>Resume</h2>
						<p>My education and experience.</p>
					</div>

				</div><!-- .row -->

				<div class="row resume-items">

					<div class="col-md-3 wow bounceInLeft">
						<h3>Education</h3>
					</div>

					<div class="col-md-6 col-sm-8 resume-item wow bounceInUp">
						<h4>Computer Science</h4>
						<p>Learn programming fundamentals, along with the basics of computing, networks, and data structures.</p><p>Learned to write high quality JavaScript and Ruby code as well as write mathematical algorithms. Learn to collaborate with others to produce high quality software as you work with a team to develop, maintain, change, and secure an application.</p>
						<hr class="hidden-xs">
					</div>

					<div class="col-md-3 col-sm-4 resume-place wow bounceInRight">
						<h4><i class="fa fa-suitcase"></i> General Assembly</h4>
						<i class="fa fa-calendar"></i> Nov 2014 - March 2015
						<hr class="visible-xs">
					</div>

					<!-- <div class="col-md-6 col-md-offset-3 col-sm-8 resume-item wow bounceInUp">
						<h4>Middle Eastern History</h4>
						<p>From the Egyptian to the Ottoman Empire, learned about the history of the Middle East from different points of view.</p>
						<hr class="hidden-xs">
					</div>

					<div class="col-md-3 col-sm-4 resume-place wow bounceInRight">
						<h4><i class="fa fa-suitcase"></i> Mayanot Institute</h4>
						<i class="fa fa-calendar"></i> 2003 - 2005
						<hr class="visible-xs">
					</div> -->

				</div><!-- .row -->

				<div class="row resume-items">

					<div class="col-md-3 wow bounceInLeft">
						<h3>Experience</h3>
					</div>

					<div class="col-md-6 col-sm-8 resume-item wow bounceInUp">
						<h4>Full-Stack Web Developer</h4>
						<p>Developed a back-end web application and APIs using JavaScript, Node.js, Express and MVC development framework Ruby on Rails. Created dynamic front-end single-page apps using AngularJS.</p><p>Leveraged Agile development workflow, and widely-accepted collaboration practices using Git, to work within multiple teams in a high production environment.</p>
						<hr class="hidden-xs">
					</div>

					<div class="col-md-3 col-sm-4 resume-place wow bounceInRight">
						<h4><i class="fa fa-suitcase"></i> General Assembly</h4>
						<i class="fa fa-calendar"></i> Nov 2014 - March 2015
						<hr class="visible-xs">
					</div>

					<div class="col-md-6 col-md-offset-3 col-sm-8 resume-item wow bounceInUp">
						<h4>Director of Ecommerce</h4>
						<p>Helped branding of the company on a global scale. Held weekly meetings dealing with web traffic control. Helped bring annual sales to over 50 Million.</p>
						<p>Built repeat-customer incentive programs with real results.</p>
						<p>Sales and product training to all other sales and customer service agents.</p>
						<hr class="hidden-xs">
					</div>

					<div class="col-md-3 col-sm-4 resume-place wow bounceInRight">
						<h4><i class="fa fa-suitcase"></i> Ashford.com</h4>
						<i class="fa fa-calendar"></i> 2008 - 2014
						<hr class="visible-xs">
					</div>

				</div><!-- .row -->

				<div class="row">

					<div class="col-md-6 col-md-offset-3 wow bounceInUp">
						<!-- <a href="/images/levi_resume1.pdf" target="_blank" class="btn btn-default btn-custom-2 pop-up" title="Caption 1"><i class="fa fa-cloud-download icon-before"></i> Download CV</a> | -->
						<a href="/resume" target="_blank" class="btn btn-default btn-custom-2 pop-up" title="Caption 1"><i class="fa fa-cloud-upload icon-before"></i>  View CV</a>
					</div>


				</div><!-- .row -->

			</div><!-- .container -->

		</section>

		<!-- Resume section end -->

		<!-- Callout section start -->

		<section id="clients" class="callout">

			<div class="container">

				<div class="row">

					<div class="col-md-3 hidden-xs wow bounceInLeft">
						<h3>Favorite Technologies</h3>
					</div>

					<div class="col-md-9 wow bounceInRight">

						<div id="owl-clients" class="owl-carousel">

							<div class="owl-item">
								<img src="/images/nodesquare.jpg" alt="">
								<h4>Node.js</h4>
							</div>

							<div class="owl-item">
								<img src="/images/rubysquare.png" alt="">
								<h4>Ruby on Rails</h4>
							</div>

							<div class="owl-item">
								<img src="/images/angularjs.png" alt="">
								<h4>AngularJS</h4>
							</div>

							<div class="owl-item">
								<img src="/images/Javascript.png" alt="">
								<h4>JavaScript</h4>
							</div>

							<div class="owl-item">
								<img src="/images/jquery.jpeg" alt="">
								<h4>jQuery</h4>
							</div>

							<div class="owl-item">
								<img src="/images/html5.png" alt="">
								<h4>HTML5</h4>
							</div>

						</div>

					</div><!-- .col-md-9 -->

				</div><!-- .row -->

			</div><!-- .container -->

		</section>

		<!-- Callout section end -->

		<!-- Portfolio section start -->

		<section id="portfolio" class="section">

			<div class="container">

				<div class="row">

					<div class="col-md-12 headline wow bounceInDown">
						<h2>Portfolio</h2>
						<p>My best works.</p>
					</div>

					<div class="col-md-4 col-sm-6 wow bounceInLeft">
						<a href="/images/seahawkcity.png" class="pop-up" title="Caption 1">
							<div class="portfolio-item">
								<div class="portfolio-item-preview">
									<img src="/images/seahawkcity.png" alt="">
								</div>
								<div class="portfolio-item-description">
									<h3><a href="http://www.seahawkcity.com/" target="_blank">Seahawkcity.com</a></h3>
									<p>Team Project</p>
								</div>
							</div>
						</a>
					</div>

					<div class="col-md-4 col-sm-6 wow bounceInUp">
						<a href="/images/trailz2.png" class="pop-up" title="Caption 2">
							<div class="portfolio-item">
								<div class="portfolio-item-preview">
									<img src="/images/trailz2.png" alt="">
								</div>
								<div class="portfolio-item-description">
									<h3><a href="http://trailz.herokuapp.com/" target="_blank">Trailz</a></h3>
									<p>Category</p>
								</div>
							</div>
						</a>
					</div>

					<div class="col-md-4 col-sm-6 wow bounceInRight">
						<a href="/images/clockswap.png" class="pop-up" title="Caption 3">
							<div class="portfolio-item">
								<div class="portfolio-item-preview">
									<img src="/images/clockswap.png" alt="">
								</div>
								<div class="portfolio-item-description">
									<h3><a href="http://www.clockswap.com" target="_blank">ClockSwap.com</a></h3>
									<p>Category</p>
								</div>
							</div>
						</a>
					</div>
<!--
					<div class="col-md-4 col-sm-6 wow bounceInUp" data-wow-delay=".2s">
						<a href="assets/images/p5.jpg" class="pop-up" title="Caption 4">
							<div class="portfolio-item">
								<div class="portfolio-item-preview">
									<img src="assets/images/p5.jpg" alt="">
								</div>
								<div class="portfolio-item-description">
									<h3>Some work</h3>
									<p>Category</p>
								</div>
							</div>
						</a>
					</div>

					<div class="col-md-4 col-sm-6 wow bounceInUp" data-wow-delay=".4s">
						<a href="assets/images/p8.jpg" class="pop-up" title="Caption 5">
							<div class="portfolio-item">
								<div class="portfolio-item-preview">
									<img src="assets/images/p8.jpg" alt="">
								</div>
								<div class="portfolio-item-description">
									<h3>Some work</h3>
									<p>Category</p>
								</div>
							</div>
						</a>
					</div>

					<div class="col-md-4 col-sm-6 wow bounceInUp" data-wow-delay=".6s">
						<a href="assets/images/p6.jpg" class="pop-up" title="Caption 6">
							<div class="portfolio-item">
								<div class="portfolio-item-preview">
									<img src="assets/images/p6.jpg" alt="">
								</div>
								<div class="portfolio-item-description">
									<h3>Some work</h3>
									<p>Category</p>
								</div>
							</div>
						</a>
					</div> -->

				</div><!-- .row -->

			</div><!-- .container -->

		</section>

		<!-- Portfolio section end -->

		<!-- Contact section start -->

		<section id="contact" class="section">

			<div class="container">

				<div class="row">

					<div class="col-md-12 headline wow bounceInLeft">
						<h2>Contact Me</h2>
						<p>Drop me a line or give me a ring. I would love to hear you.</p>
					</div>

					<div class="col-md-6 wow bounceInUp">

						<p>I would love to hear about any ideas that you are excited about, let's connect and great things will happen!</p>

						<ul class="icon-list">
							<li><i class="fa fa-fw fa-map-marker"></i>Seattle, WA</li>
							<li><i class="fa fa-fw fa-phone"></i>(206) 276-7274</li>
							<li><i class="fa fa-fw fa-globe"></i><a href="http://www.leviross.com">http://www.leviross.com</a></li>
						</ul>

					</div>

					<div class="col-md-6 wow bounceInRight">

						<form id="contact-form" role="form" method="post" action="/sendContact">

							<div class="form-group">
								<label class="sr-only" for="c_name">Name</label>
								<input type="text" id="c_name" class="form-control" name="c_name" placeholder="Name">
							</div>

							<div class="form-group">
								<label class="sr-only" for="c_email">Email address</label>
								<input type="email" id="c_email" class="form-control" name="c_email" placeholder="E-mail">
							</div>

							<div class="form-group">
								<textarea class="form-control" id="c_message" name="c_message" rows="7" placeholder="Your message"></textarea>
							</div>

							<button type="submit" class="btn btn-custom-1">
								<i class="fa fa-bullhorn icon-before"></i> Send it
							</button>

						</form>

						<div class="ajax-response"></div>

					</div>

				</div><!-- .row -->

			</div><!-- .container -->

		</section>

		<!-- Contact section end -->

		<!-- Footer start -->

		<footer id="footer">

			<div class="container">

				<div class="row">

					<div class="col-md-12">
						<p class="copy">
							© 2014 Levi Ross, All Rights Reserved.
						</p>
					</div>

				</div><!-- .row -->

			</div><!-- .container -->

		</footer>

		<!-- Footer end -->

	</div><!-- .wrapper -->

	<!-- Javascript files -->
	<!-- jQuery -->
	<script src="/js/jquery-1.11.0.js"></script>
	<!-- Bootstrap JS -->
	<script src="/js/bootstrap.min.js"></script>
	<!-- Background slider -->
	<script src="/js/jquery.backstretch.min.js"></script>
	<!-- OwlCarousel -->
	<script src="/js/owl.carousel.min.js"></script>
	<!-- Modal for portfolio -->
	<script src="/js/jquery.magnific-popup.min.js"></script>
	<!-- Text rotator -->
	<script src="/js/jquery.simple-text-rotator.min.js"></script>
	<!-- Waypoints -->
	<script src="/js/jquery.waypoints.js"></script>
	<!-- CountTo  -->
	<script src="/js/jquery.countTo.js"></script>
	<!-- WOW - Reveal Animations When You Scroll -->
	<script src="/js/wow.min.js"></script>
	<!-- Smooth scroll -->
	<script src="/js/smoothscroll.js"></script>
	<!-- Fitvids -->
	<script src="/js/jquery.fitvids.js"></script>
	<!-- Custom scripts -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/0.4.2/sweet-alert.min.js"></script>
	<script src="/js/custom.js"></script>

</body>
</html>