<!DOCTYPE html>
<html>
<head>
  <title>Levi Ross Resume</title>
  <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
</head>
<style>
/*body {
  background: url("/images/resume2_final_600px.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}*/
/*button{
  position: relative;
  top: 3%;
  left: 2%;
  width: 5%;
  height: 30px;
  border-radius: 5px;
}*/
</style>
<body>

<div class="container-fluid">
  <div class="col-md-10 col-sm-10">
    <div class="row">
      <a href="/"><button class="btn btn-primary">HomePage</button></a>
      <div><img src="/images/resume2_final_1000px.jpg"></div>
    </div>
  </div>
</div>


</body>
</html>