<!DOCTYPE html>
<html>
<head>
  <title>Levi Ross Resume</title>
</head>
<style>
html {
  background: url("/images/levi_ross_resume.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
button{
  position: relative;
  top: 3%;
  left: 2%;
  width: 5%;
  height: 30px;
  border-radius: 5px;
}
</style>
<body>

  <button><a href="/">HomePage</a></button>

</body>
</html>