<!-- Resume section start -->

<section id="resume" class="section">

    <div class="container">

        <div class="row">

            <div class="col-md-12 headline wow bounceInDown">
                <h2>Resume</h2>
                <p>My education and experience.</p>
            </div>

        </div><!-- .row -->

        <div class="row resume-items">

            <div class="col-md-3 wow bounceInLeft">
                <h3>Education</h3>
            </div>

            <div class="col-md-6 col-sm-8 resume-item wow bounceInUp">
                <h4>Computer Science</h4>
                <p>Learn programming fundamentals, along with the basics of computing, networks, and data structures.</p><p>Learned to write high quality JavaScript and Ruby code as well as write mathematical algorithms. Learn to collaborate with others to produce high quality software as you work with a team to develop, maintain, change, and secure an application.</p>
                <hr class="hidden-xs">
            </div>

            <div class="col-md-3 col-sm-4 resume-place wow bounceInRight">
                <h4><i class="fa fa-suitcase"></i> General Assembly</h4>
                <i class="fa fa-calendar"></i> Nov 2014 - March 2015
                <hr class="visible-xs">
            </div>

            <!-- <div class="col-md-6 col-md-offset-3 col-sm-8 resume-item wow bounceInUp">
                <h4>Middle Eastern History</h4>
                <p>From the Egyptian to the Ottoman Empire, learned about the history of the Middle East from different points of view.</p>
                <hr class="hidden-xs">
            </div>

            <div class="col-md-3 col-sm-4 resume-place wow bounceInRight">
                <h4><i class="fa fa-suitcase"></i> Mayanot Institute</h4>
                <i class="fa fa-calendar"></i> 2003 - 2005
                <hr class="visible-xs">
            </div> -->

        </div><!-- .row -->

        <div class="row resume-items">

            <div class="col-md-3 wow bounceInLeft">
                <h3>Experience</h3>
            </div>

            <div class="col-md-6 col-sm-8 resume-item wow bounceInUp">
                <h4>Full-Stack Web Developer</h4>
                <p>Lead engineer for a custom service department application built in Node/Angular with MongoDB.</p><p>Created a server-side module to import and validate all data from File Maker to MongoDB.</p><p>Worked directly with product manager to design schema and built RESTful API to serve data to the client side.</p><p>Built features including auto-complete, keyboard-shortcuts, dashboard, tabs, token-based authentication and much more.</p><p>Designed Node modules to minimize the time complexity of both write and read database operations.</p>
                <hr class="hidden-xs">
            </div>

            <div class="col-md-3 col-sm-4 resume-place wow bounceInRight">
                <h4><i class="fa fa-suitcase"></i> MicroK12.com</h4>
                <i class="fa fa-calendar"></i> March 2015 - Present
                <hr class="visible-xs">
            </div>

            <div class="col-md-6 col-md-offset-3 col-sm-8 resume-item wow bounceInUp">
                <h4>Director of Ecommerce</h4>
                <p>Helped branding of the company on a global scale. Held weekly meetings dealing with web traffic control. Helped bring annual sales to over 50 Million.</p>
                <p>Built repeat-customer incentive programs with real results.</p>
                <p>Sales and product training to all other sales and customer service agents.</p>
                <hr class="hidden-xs">
            </div>

            <div class="col-md-3 col-sm-4 resume-place wow bounceInRight">
                <h4><i class="fa fa-suitcase"></i> Ashford.com</h4>
                <i class="fa fa-calendar"></i> 2008 - 2014
                <hr class="visible-xs">
            </div>

        </div><!-- .row -->

        <div class="row">

            <div class="col-md-6 col-md-offset-3 wow bounceInUp">
                <!-- <a href="/images/levi_resume1.pdf" target="_blank" class="btn btn-default btn-custom-2 pop-up" title="Caption 1"><i class="fa fa-cloud-download icon-before"></i> Download CV</a> | -->
                <a href="/resume" target="_blank" class="btn btn-default btn-custom-2 pop-up" title="Caption 1"><i class="fa fa-cloud-upload icon-before"></i>  View CV</a>
            </div>


        </div><!-- .row -->

    </div><!-- .container -->

</section>

<!-- Resume section end -->